html,
body{
    margin: 0;
    padding: 0;
}
#hello{
    color:aquamarine
}

#world{
    color:rgb(210, 232, 43)
}

#have{
    color:rgb(27, 14, 210)
}

#fun{
    color:rgb(232, 64, 13)
}
.container{
    background-color: rgb(152, 148, 148);
}


/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */