html,
body{
    margin-top: 75px;
    padding: 0;
    background-color: bisque;
}

header{
    background-color: black;
    color: limegreen;
    text-align: center;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

footer{
    background-color: black;
    color: limegreen;
    text-align: center;
    font-size: large;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    }


ul{
    font-family: cursive;
}



/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */